<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head") %>  

  <body>

    <%- include("./partials/header") %> 
    
    <!-- MAIN -->
    <main class="home">
      <div>
        <img class="banner" src="/images/main/bannerIvrea.jpg" alt="Banner Ivrea" />
      </div>
      
      <div class="container_subtitle">
        <h4 class="subtitle">Nuestros libros digitales</h4>
      </div>
      <section class="group">
        <% DIGITAL.forEach(book => { %>
          <article class="container_book">
            <a href="/store/details/<%- book.id %>"
              ><img
                class="image_book"
                src="./images/books/<%- book.covers.route %>"
                alt="<%- book.title %>"
              />
              <p><%- book.title %> </p>
              <p class="card-price">$ <%- book.price %> </p>
              <button class="home-buy" id="boton-compra">AGREGAR AL CARRITO</button>  
              </a>
          </article>
        <% }) %>
      </section>

      <div class="container_subtitle">
        <h4 class="subtitle">En formato físico de tapa blanda</h4>
      </div>
      <section class="group">
        <% for( let INDEX = 0; INDEX < PAPERBACK.length; INDEX++ ) { %>
          <article class="container_book">
            <a href="/store/details/<%- PAPERBACK[INDEX].id %>"
              ><img
                class="image_book"
                src="./images/books/book-default-cover.jpg"
                alt="<%- PAPERBACK[INDEX].title %>"
              />
              <p><%- PAPERBACK[INDEX].title %></p>
              <p class="card-price">$ <%- PAPERBACK[INDEX].price %> </p>
              <button class="home-buy" id="boton-compra">AGREGAR AL CARRITO</button>  
            </a>
          </article>
        <% } %>
      </section>

      <div class="container_subtitle">
        <h4 class="subtitle">En formato físico de tapa dura</h4>
      </div>
      <section class="group">
        <% HARDBACK.forEach(book => { %>
          <article class="container_book">
            <a href="/store/details/<%- book.id %>"
              ><img
                class="image_book"
                src="./images/books/<%- book.covers.route %>"
                alt="<%- book.title %>"
              />
              <p><%- book.title %></p>
              <p class="card-price">$ <%- book.price %> </p>
              <button class="home-buy" id="boton-compra">AGREGAR AL CARRITO</button>  
            </a>
          </article>
        <% }) %>
      </section>

      <section class="group2">
        <article class="container">
          <span>Todos los medios de pago</span>
          <i class="fa-solid fa-credit-card"></i> 
        </article>
        <article class="container">
          <span>Envíos gratis</span>
          <i class="fa-solid fa-truck-fast"></i>
        </article>
        <article class="container">
          <span>Cuotas Sin Interés</span>
          <img class="home-logos" src="./images/main/mpago.png" alt="Mercado Pago Logo" />
        </article>
        <article class="container">
          <span>Compra Protegida</span>
          <i class="fa-solid fa-shield-cat"></i>
        </article>
      </section>

      <section class="group3">
        <div class="subscribe">
          <p>
            Suscribete a nuestro newsletter y recibe las novedades de The
            Secret BookStore antes que nadie!
          </p>
          <input
            class="input-container"
            type="text"
            placeholder="Ingresa tu Email..."
          />
          <button class="btn">Suscribirme</button>
          
        </div>
      </section>
    </main>

    <%- include("./partials/footer2") %> 
    
    <%- include("./partials/scripts")  %>
  </body>
</html>
