<!DOCTYPE html>
<html lang="en">
  <!-- Includes head -->
  <%- include("../partials/head", {doctitle}) %>
  <body>
    <!-- header -->
    <%- include("../partials/header") %>
    <!-- header -->

    <div class="container-title">
      <div>
        <div class="title-form">
          <h2 class="title">Formulario de creacion</h2>
        </div>
      </div>
    </div>
    <div class="container-form">
      <form action="/store/create/" method="POST" enctype="multipart/form-data">
        <div class="container-product">
          <div class="form">
            <label for="name" class="form-label">Título del libro</label>
            <input
              type="text"
              id="name"
              name="title"
              placeholder="EJ: El numero cuatro"
              class="form-input"
              value="<%= locals.old && old.inputName %>"
            />
            <small class="text-danger" id="nameErrors"></small>
            <% if (locals.errors && errors.inputName) { %>
              <small class="text-danger">
                <%= errors.inputName.msg %>
              </small>
              <% } %>

          </div>
          <div class="form">
            <label for="text" class="form-label">Autor</label>
            <input
              type="text"
              id="author"
              name="author"
              placeholder="EJ: J.K. Rowling"
              class="form-input"
              value="<%= locals.old && old.inputAuthor %>"

            />
            <small class="text-danger" id="authorErrors"></small>
            <% if (locals.errors && errors.inputAuthor) { %>
              <small class="text-danger">
                <%= errors.inputAuthor.msg %>
              </small>
              <% } %>

          </div>
          <div class="form">
            <label for="text" class="form-label">ISBN13</label>
            <input
              type="text"
              id="isbn13"
              name="isbn13"
              class="form-input"
            />
            

          </div>
          <div class="form">
            <label for="text" class="form-label">Cantidad de páginas</label>
            <input
              type="text"
              id="pageCount"
              name="pageCount"
              class="form-input"
            />
          </div>
          <div class="form">
            <label for="price" class="form-label">Precio</label>
            <input
              type="text"
              id="price"
              name="price"
              placeholder="EJ: 12345"
              class="form-input"
            />
            <small class="text-danger" id="priceErrors"></small>
            <% if (locals.errors && errors.inputPrice) { %>
              <small class="text-danger">
                <%= errors.inputPrice.msg %>
              </small>
              <% } %>

          </div>
          <div class="form">
            <label for="editorial" class="form-label">Editorial</label>            
              <select name="editorial_id" id="editorial" class="form-input">
                <option value="" disabled selected>Selecciona la editorial</option>
                <% for( let index = 0; index < EDITORIALS.length; index++ ) { %>
                  <option value="<%= EDITORIALS[index].id %>"><%= EDITORIALS[index].editorial %></option>
                <% } %>
              </select>
              <small class="text-danger" id="editorialErrors"></small>
            <% if (locals.errors && errors.inputEditorial) { %>
              <small class="text-danger">
                <%= errors.inputEditorial.msg %>
              </small>
              <% } %>
  
              </div>
          <div class="form-idioma">
            <label for="lenguaje" class="form-label">Idioma</label>
            <select name="language_id" id="lenguaje" class="form-input">
              <option value="" disabled selected>Selecciona el lenguaje</option>
              <% for( let index = 0; index < LANGUAGES.length; index++ ) { %>
                <option value="<%= LANGUAGES[index].id %>"><%= LANGUAGES[index].language %></option>
              <% } %>
            </select>
            <small class="text-danger" id="lenguajeErrors"></small>
            <% if (locals.errors && errors.lenguaje) { %>
              <small class="text-danger">
                <%= errors.lenguaje.msg %>
              </small>
              <% } %>

          </div>
          <div class="form">
            <label for="formato" class="form-label">Formato</label>
            <select name="format_id" id="formato" class="form-input">
              <option value="" disabled selected>Selecciona el formato</option>
              <% for( let index = 0; index < FORMATS.length; index++ ) { %>
                <option value="<%= FORMATS[index].id %>"><%= FORMATS[index].format %></option>
              <% } %>
            </select>
            <small class="text-danger" id="formatoErrors"></small>
            <% if (locals.errors && errors.formato) { %>
              <small class="text-danger">
                <%= errors.formato.msg %>
              </small>
              <% } %>

          </div>
          <div class="form-genero">
            <label for="genero" class="form-label">Genero</label>
            <select name="genre_id" id="genero" class="form-input">
              <option value="" disabled selected>Selecciona el género</option>

              <% for( let index = 0; index < GENRES.length; index++ ) { %>
                <option value="<%= GENRES[index].id %>"><%= GENRES[index].genre %></option>
              <% } %>
            </select>
            <small class="text-danger" id="generoErrors"></small>
            <% if (locals.errors && errors.genero) { %>
              <small class="text-danger">
                <%= errors.genero.msg %>
              </small>
              <% } %>

          </div>
          <div class="form-portada">
            <label>Elegir imagen del producto</label>
            <input type="file" name="image" accept=".jpg, .png, .jpeg, .gif" />
          </div>
          <div class="form-descripcion">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea
              id="descripcion"
              name="description"
              placeholder="Maximo 200 caracteres"
              class="form-input"
            ></textarea>
            <small class="text-danger" id="descripcionErrors"></small>
            <% if (locals.errors && errors.inputDescripcion) { %>
              <small class="text-danger">
                <%= errors.inputDescripcion.msg %>
              </small>
              <% } %>

          </div>
          <div class="btn-save">
            <button type="submit" class="save-product">Guardar Producto</button>
            <small class="text-danger" id="submitErrors"></small>
          </div>
        </div>
      </form>
    </div>
    <!-- Includes footer -->
    <%- include("../partials/footer2") %>
    <!-- Includes footer -->
    <%- include("../partials/scripts")  %>
          <script src="/js/scriptCrearProd.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
  </body>
</html>
