<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {doctitle: book.title}) %>
  </head>

  <body>
    <%- include("../partials/header") %>

    <main class="product">
      <!-- Barra navegación -->
      <div class="dir-bar">
        <a href="/">Inicio</a> / <a href="">Categorías</a> /
        <a href="<%= book.id %>"><%= book.title %></a>
      </div>
      <!-- Libro -->
    <article class="product"> 
        <!-- Foto -->
        <div class="photo-container">
          <img
            src="/images/books/<%- book.cover %>"
            alt="<%- book.title %>"
          />
        </div>
      <!-- Descripción -->
      <section class="description">
          <div class="info-container">
              <div class="info">
                <h2><%= book.title %></h2>
                <h3><%= book.author %></h3>
              </div>
              <div class="price">Precio: $<%= book.price %></div>
              <div class="btn-container">
                <div class="product-btn">Favorito</div>
                <div class="product-btn"><a href="/cart">Comprar</a></div>
                <% if (typeof session.user == "undefined") { %>
                  
                  <%}%>
                <% if (typeof session.user != "undefined" && session.user.role) { %>
                   <div class="product-btna">                  
                      <form action="/store/delete/<%- book.id %>?_method=DELETE" method="POST">
                        <button type="submit">
                          ELIMINAR
                        </button>
                      </form>
                    </div>
                    <div class="product-btna">
                      <form action="/store/edit/<%- book.id %>" method="GET">
                        <button type="submit">
                          Editar
                        </button>
                      </form>
                    </div>
    
                  <% } %>
              </div>
              <p>Calificación: <%= book.calification %></p>
              <p>Editorial: <%= book.editorials.editorial %></p>
              <p>I.S.B.N.: <%= book.isbn13 %></p>
              <p>Nro. de páginas: <%= book.pageCount %></p>
              <p>Idiomas: <%= book.languages.language %></p>
              <p>Formato: <%= book.formats.format %></p>
              <p>Género: <a href="/store/category/<%= book.genre %>"><%= book.genres.genre %></a></p>
              <!--<p>Fecha de publicación: <%= book.publication_date %></p>-->
          </div>
          
      </section>
  </article>
  <div class="description-container">
    <p><%= book.description %></p>
</div>
      <!-- Relacionados -->
      <section class="related">
        <h3>También te puede interesar</h3>
        <div class="product--container">
          <article>
            <div class="photo-container">
              <img
                src="/images/books/<%= book.cover %>"
                alt="<%= book.title %>"
              />
            </div>
            <div>
              <h4><%= book.title %></h4>
              <h4><%= book.author %></h4>
              <p>$<%= book.price %></p>
            </div>
          </article>
      <!-- Comentarios -->

    <%- include("../partials/footer2") %>

    <%- include("../partials/scripts")  %>
  </body>
</html>
