<!DOCTYPE html>
<html lang="en">
<!-- Includes head -->
<%- include("../partials/head", {title: "Editando: " + book.title}) %>
<body>
<!-- header -->
<%- include("../partials/header") %>    
<!-- header -->

<div class="container-title">
    <div class="row">
        <div class="title-form">
        <h2 class="title">Estas editando: <%= book.title %></h2>
        </div>    
    </div>
</div>

<div class="container-form">
    <form id="form" action="/store/edit/<%- book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="container-product">
        <div class="form">
          <label for="name" class="form-label">Título del libro</label>
          <input
            type="text"
            id="name"
            name="title"
            placeholder="EJ: El numero cuatro"
            class="form-input"
            value="<%= locals.old ? old.title : book.title %>"
          />
          <small class="text-danger" id="nameErrors"></small>
            <% if (locals.errors && errors.inputName) { %>
              <small class="text-danger">
                <%= errors.inputName.msg %>
              </small>
              <% } %>

        </div>
        <div class="form">
          <label for="text" class="form-label">Autor</label>
          <input
            type="text"
            id="author"
            name="author"
            placeholder="EJ: J.K. Rowling"
            class="form-input"
            value="<%= locals.old ? old.author : book.author %>"
            />
            <small class="text-danger" id="authorErrors"></small>
          <% if(locals.errors && errors.author) {%>
            <div class="text-danger"><%= errors.author.msg %></div>
        <% } %>

        </div>
        <div class="form">
          <label for="text" class="form-label">ISBN13</label>
          <input
            type="text"
            id="isbn13"
            name="isbn13"
            class="form-input"
            value="<%= locals.old? old.isbn13 : book.isbn13 %>"
          />
            <small class="text-danger" id="isbn13Errors"></small>
            <% if(locals.errors && errors.isbn13) {%>
            <div class="text-danger"><%= errors.isbn13.msg %></div>
        <% } %>

        </div>
        <div class="form">
          <label for="text" class="form-label">Cantidad de páginas</label>
          <input
            type="text"
            id="pageCount"
            name="pageCount"
            class="form-input"
            value="<%=locals.old ? old.pageCount : book.pageCount %>"
          />
        </div>
        <div class="form">
          <label for="price" class="form-label">Precio</label>
          <input
            type="text"
            id="price"
            name="price"
            placeholder="EJ: 12345"
            class="form-input"
            value="<%= locals.old ? old.price : book.price %>"
          />
            <small class="text-danger" id="priceErrors"></small>
            <% if(locals.errors && errors.price) {%>
            <div class="text-danger"><%= errors.price.msg %></div>
        <% } %>

        </div>
        <div class="form">
          <label for="editorial" class="form-label">Editorial</label>            
          <select name="editorial_id" id="editorial" class="form-input">
            <% for( let index = 0; index < EDITORIALS.length; index++ ) { %>
              <option value="<%= EDITORIALS[index].id %>" 
              <%- locals.old && old.editorial_id ? "selected" : book.editorial_id == EDITORIALS[index].id? "selected" : "" %>><%= EDITORIALS[index].editorial %></option>
            <% } %>
          </select>
        <% if(locals.errors && errors.editorial_id) {%>
              <div class="text-danger"><%= errors.editorial_id.msg %></div>
          <% } %>

            </div>
        <div class="form-idioma">
          <label for="lenguaje" class="form-label">Idioma</label>
          <select name="language_id" id="lenguaje" class="form-input">
            <% for( let index = 0; index < LANGUAGES.length; index++ ) { %>
              <option value="<%= LANGUAGES[index].id %>" <%- book.language_id == LANGUAGES[index].id? "selected" : "" %>><%= LANGUAGES[index].language %></option>
            <% } %>
          </select>
          <% if(locals.errors && errors.language_id) {%>
            <div class="text-danger"><%= errors.language_id.msg %></div>
        <% } %>

        </div>
        <div class="form">
          <label for="formato" class="form-label">Formato</label>
          <select name="format_id" id="formato" class="form-input">
            <% for( let index = 0; index < FORMATS.length; index++ ) { %>
              <option value="<%= FORMATS[index].id %>" <%- book.format_id == FORMATS[index].id? "selected" : "" %>><%= FORMATS[index].format %></option>
            <% } %>
          </select>
      <% if(locals.errors && errors.format_id) {%>
            <div class="text-danger"><%= errors.format_id.msg %></div>
        <% } %>

        </div>
        <div class="form-genero">
          <label for="genero" class="form-label">Genero</label>
          <select name="genre_id" id="genre" class="form-input">
            <% for( let index = 0; index < GENRES.length; index++ ) { %>
              <option value="<%= GENRES[index].id %>" <%- book.genre_id == GENRES[index].id? "selected" : "" %>><%= GENRES[index].genre %></option>
            <% } %>
          </select>
          <% if(locals.errors && errors.genre_id) {%>
            <div class="text-danger"><%= errors.genre_id.msg %></div>
        <% } %>

        </div>
        <div class="form-portada">
          <label>Elegir imagen del producto</label>
          <input type="file" name="cover" accept=".jpg, .png, .jpeg, .gif" />
        </div>
        <div class="form-descripcion">
          <label for="descripcion" class="form-label">Descripcion</label>
          <textarea
            id="descripcion"
            name="description"
            placeholder="Maximo 200 caracteres"
            class="form-input"
          ><%= locals.old ? old.description : book.description %></textarea>
          <% if(locals.errors && errors.description) {%>
            <div class="text-danger"><%= errors.description.msg %></div>
        <% } %>

        </div>
        <div class="btn-save">
          <small class="text-danger" id="formError"></small>
          <button type="submit" class="save-product">Guardar Producto</button>
        </div>
      </div>
  </form>
</div>
<!-- Includes footer -->
<%- include("../partials/footer2") %> 
<!-- Includes footer -->
<%- include("../partials/scripts")  %>
<script src="/js/scriptEditProd.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</body>
</html>