<!DOCTYPE html>
<html lang="en">
<!-- Includes head -->
<%- include("../partials/head", {title: "Editando: " + book.title}) %>
<body>
<!-- header -->
<%- include("../partials/header") %>    
<!-- header -->

<div class="container-title">
    <div class="row">
        <div class="title-form">
        <h2 class="title">Estas editando: <%= book.title %></h2>
        </div>    
    </div>
</div>
<% if (locals.errors) { %>
    <ul>
      <% Objetc.keys(errors).forEach(element => { %>
        <li><%- errors[element].msg  %></li>
      <% }) %>
    </ul>
  <% } %>
<div class="container-form">
    <form action="/store/edit/<%- book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="container-product">
        <div class="form">
        <label for="title" class="form-label">Nombre del producto</label>
        <input type="text" id="title" name="title" placeholder="<%= book.title %>" value="<%= book.title %>" class="form-input">
        </div> 
        <div class="form">
            <label for="author" class="form-label">Autor</label>
            <input type="text" id="author" name="author" placeholder="<%= book.author %>" value="<%= book.author %>" class="form-input">
        </div>  
        <div class="form">
            <label for="price" class="form-label">Precio</label>
            <input type="text" id="price" name="price" placeholder="<%= book.price %>" value="<%= book.price %>" class="form-input">
        </div>  
        <div class="form">
            <label for="editorial" class="form-label">Editorial</label>
            <select name="editorial_id" id="editorial" class="form-input">
                <% for( let index = 0; index < editorials.length; index++ ) { %>
                  <option value="<%= editorials[index].id %>"><%= editorials[index].editorial %></option>
                <% } %>
              </select>
          </div>  
        <div class="form-idioma">
            <label for="lenguaje" class="form-label">Idioma</label>
            <select name="language_id" id="lenguaje" class="form-input">
              <% for( let index = 0; index < languages.length; index++ ) { %>
                <option value="<%= languages[index].id %>"><%= languages[index].language %></option>
              <% } %>
            </select>
          </div>
  
        <div class="form">
            <label for="formato" class="form-label">Formato</label>
            <select name="format_id" id="formato" class="form-input">
                <% for( let index = 0; index < formats.length; index++ ) { %>
                  <option value="<%= formats[index].id %>"><%= formats[index].format %></option>
                <% } %>
              </select>
          </div>
        <div class="form-genero">
        <label for="genero" class="form-label">Genero</label>
        <select name="genre_id" id="genre" class="form-input">
            <% for( let index = 0; index < genres.length; index++ ) { %>
              <option value="<%= genres[index].id %>"><%= genres[index].genre %></option>
            <% } %>
          </select>

        </div>
        <div class="form-portada">
            <label>Elegir imagen del libro</label>
            <input type="file" name="cover" value="<%= cover.route %>">
        </div>
        <div class="form-descripcion">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea id="descripcion" name="description" placeholder="Maximo 200 caracteres" class="form-input"><%= book.description %></textarea>
        </div>
        <div class="btn-save">
            <button type="submit" class="save-product">Guardar Producto</button>
        </div>
    </div>
    </form>
</div>
<!-- Includes footer -->
<%- include("../partials/footer2") %> 
<!-- Includes footer -->
<%- include("../partials/scripts")  %>

</body>
</html>