<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>

<main class="usersForm-container">
       
    <h3 class="userTitle">Edita tu perfil</h3>
    <form action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="form-ad" >
        <div class="form-ad-input">
            <label for="firstName">Nombre</label>
            <input type="text" name="firstName" id="firstName" placeholder="Nombre" value="<%= locals.old ? old.firstName : user.firstName %>">
            <% if (locals.errors && errors.firstName) { %>
                <small class="text-danger"><%= errors.firstName.msg %> </small>
            <% } %>
        </div>
        <div class="form-ad-input">
            <label for="lastName">Apellido</label>
           <input type="text" name="lastName" id= "lastName" placeholder="Apellido" value="<%= locals.old ? old.lastName : user.lastName %>">
            <% if (locals.errors && errors.lastName) { %>
                <small class="text-danger"><%= errors.lastName.msg %> </small>
            <% } %>
        </div>
        <div class="form-ad-input">
            <label for="email">Email</label>
           <input style="font-weight: bold" type="email" id="email" name="email" placeholder="  " readonly value="<%= user.email %>">
            <% if (locals.errors && errors.email) { %>
                <small class="text-danger"><%= errors.email.msg %> </small>
            <% } %>
        </div>
        <div class="form-ad-input tel">
            <label for="phone">Teléfono (cód. de área sin 0)</label>
            <div>
            <span>+54  </span>
            <input type="tel" name="phone" id="phone" placeholder="Ingresá tu teléfono"  value="<%= locals.old ? old.phone : user.phone ? user.phone : "" %>">
            </div>
            <% if (locals.errors && errors.phone) { %>
                <small class="text-danger"><%= errors.phone.msg %> </small>
            <% } %>

        </div>
        <div class="form-ad-input">
            <label for="adress">Domicilio</label>
            <input type="text" name="adress" id="adress" placeholder="Calle y altura" value="<%= locals.old ? old.adress : user.adress ? user.adress : "" %>">
            <% if (locals.errors && errors.adress) { %>
                <small class="text-danger"><%= errors.adress.msg %> </small>
            <% } %>

        </div>
        <div class="form-ad-input">
            <label for="postalCode">Código Postal</label>
            <input type="text" name="postalCode" placeholder="Código postal" value="<%= user.postalCode ? user.postalCode : "" %>">
        </div>
        <div class="form-ad-input">
            <select name="province" id="">
                <option value="">Provincia</option>
            </select>
        </div>
        <div class="form-ad-input">
            <select name="city" id="">
                <option value="">Localidad</option>
            </select>
        </div>
        <div class="input-file">
            <p>Cambiar foto de perfil</p>
            <input type="file" name="avatar" value="">
        </div>
      
        <button type="submit" class="btn_edit">
            GUARDAR
        </button>
        
    </form>
</main>

<%- include("../partials/footer2") %> 
    
<%- include("../partials/scripts")  %>

</body>
</html>