<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main class="usersForm-container">

                <h3 class="userTitle">Edita tu perfil</h3>
                <form id="form" action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data"
                    class="form-ad">
                    <div class="form-ad-input">
                        <label for="firstName">Nombre</label>
                        <input type="text" name="firstName" id="firstName" placeholder="Nombre"
                            value="<%= locals.old ? old.firstName : user.firstName %>">
                        <small class="text-danger" id="firstNameError"></small>
                        <% if (locals.errors && errors.firstName) { %>
                            <small class="text-danger">
                                <%= errors.firstName.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="form-ad-input">
                        <label for="lastName">Apellido</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Apellido"
                            value="<%= locals.old ? old.lastName : user.lastName %>">
                        <small class="text-danger" id="lastNameError"></small>
                        <% if (locals.errors && errors.lastName) { %>
                            <small class="text-danger">
                                <%= errors.lastName.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="form-ad-input">
                        <label for="email">Email</label>
                        <input style="font-weight: bold" type="email" id="email" name="email" placeholder="  " readonly
                            value="<%= user.email %>">
                        <small class="text-danger" id="emailrror"></small>
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger">
                                <%= errors.email.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="form-ad-input">
                        <label for="phone">Teléfono(sin el "+"" ni "0")</label>

                        <input type="text" name="phone" id="phone" placeholder="Ingresá tu teléfono"
                            value="<%= user.phone ? user.phone : "" %>">
                        <small class="text-danger" id="phoneError"></small>
                    </div>
                    <div class="form-ad-input">
                        <label for="adress">Domicilio</label>
                        <input type="text" name="adress" id="adress" placeholder="Domicilio"
                            value="<%= user.adress ? user.adress : "" %>">
                        <small class="text-danger" id="adressError"></small>
                    </div>
                    <div class="form-ad-input">
                        <label for="postalCode">Código Postal</label>
                        <input type="number" name="postalCode" id="postalCode" placeholder="Código postal"
                            value="<%= user.postalCode ? user.postalCode : "" %>">
                        <small class="text-danger" id="postalCodeError"></small>
                    </div>
                    <div class="form-ad-input">
                        <select name="province" id="province">
                            <option value="">Provincia</option>
                            <% provinces.forEach(province => { %>
                                <option value="<%- province.nombre %>"><%- province.nombre %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-ad-input">
                        <select name="city" id="city">
                            <option value="">Localidad</option>
                        </select>
                    </div>
                    <div class="input-file">
                        <p>Cambiar foto de perfil</p>
                        <input type="file" name="avatar" value="">
                    </div>
                    <small class="text-danger" id="formError"></small>
                    <button type="submit" class="btn_edit">
                        GUARDAR
                    </button>

                </form>
            </main>

            <%- include("../partials/footer2") %>

                <%- include("../partials/scripts") %>

                    <script src="/js/userProfileEdit.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
                        crossorigin="anonymous"></script>

    </body>

</html>